.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in_form {
  display: flex;
  flex-direction: column;
}

.sign-in_card {
  width: auto;
  margin-bottom: 20px;
}

.sign-in_submit-button {
  width: 100%;
}
